<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starz</title>
</head>
<body>
    <header>
        <div class="container">
            <img src="../../../assets/Logo.png" alt="Logo App" class="logo">
        </div>
    </header>

    <main>
        <section class="selection">
            <div class="container">
                <mat-form-field appearance="fill">
                    <mat-label>Selecciona un género</mat-label>
                    <mat-select>
                        <mat-option value="rock">Rock</mat-option>
                        <mat-option value="pop">Pop</mat-option>
                        <mat-option value="hip-hop">Hip-Hop</mat-option>
                        <mat-option value="electronic">Electrónica</mat-option>
                    </mat-select>
                </mat-form-field>
                

                <button class="cta-button neon">Buscar</button>
            </div>
        </section>

        <section class="results">
            <div class="results-container"> <!-- Cambio aquí -->
                <div class="card">
                    <img src="../../../assets/Arianna.jpeg" alt="Foto Artista 1">
                    <h3>Ariana Grande</h3>
                    <p>1,000,000 Oyentes</p>
                </div>
                <div class="card">
                    <img src="../../../assets/Drake.jpeg" alt="Foto Artista 2">
                    <h3>Drake</h3>
                    <p>500,000 Oyentes</p>
                </div>
                <div class="card">
                    <img src="../../../assets/TheWeeknd.jpeg" alt="Foto Artista 3">
                    <h3>The Weekend</h3>
                    <p>300,000 Oyentes</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>