<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starz</title>
</head>
<body>
    <header>
        <div class="container">
            <img src="../../../assets/Logo.png" alt="Logo App" class="logo">
        </div>
    </header>

    <main>
        <section class="selection">
            <div class="container">
                <mat-form-field appearance="fill">
                    <mat-label>Selecciona un género</mat-label>
                    <mat-select [(ngModel)]="genre">
                      <mat-option *ngFor="let genreItem of genres" [value]="genreItem">
                        {{ genreItem }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                <button class="cta-button neon">Buscar</button>
            </div>
        </section>

    </main>
</body>
</html>